.footer {
    margin-top: 3rem;
    padding: 2rem 0;
    background-color: #D8973C;
}

.footer h3 {
    margin: 0 0 .5rem 0;
}

.footer ul {
    margin: 0;
}

.m-t-2r {
    margin-top: 2rem !important;
}