.main {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.title-container {
    margin-bottom: 0.67em;
}

.title-container h1 {
    margin-bottom: 0;
}

.subtitle {
    font-size: 1rem;
    margin: 0;
    font-style: italic;
}

.vertical-seperator {
    border-right: 1px solid #273E47;
    margin: 10px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    margin: 2rem 0;
    align-self: center;
    border-radius: 5px;
}

video {
    margin: 2rem 0;
    align-self: center;
}

ul {
    padding: 0;
    list-style: none;
}

a:hover {
    color: #A42438;
}

.margin-0 {
    margin: 0 !important;
}

.inline {
    display: inline-flex;
}

.padding-l-r-25 {
    padding: 0 2rem;
}

.featured-project-link > img {
  margin: 1rem 0;
}

.featured-project-link > h3 {
  margin: 0;
  display: flex;
  justify-content: center;
}

.caption {
  font-size: .75rem;
  margin: 0;
  display: flex;
  justify-content: center;
}

.skill-list {
  padding-left: 3rem;
  list-style: disc;
}

/* Override some react-responsive-carousel styles */
.carousel .control-next.control-arrow:before {
    border-left: 8px solid black !important;
}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid black !important;
}

.carousel .control-dots .dot {
    background: black !important;
}
